emis-artifacts/src/main/resources/META-INF/wsdl/v1/eMISMilitaryInfoRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File eMISMilitaryInfoRequestResponse.xsd, application eMISMilitaryInfoService--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1" xmlns:emisrr="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mirr="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
	<xsd:import namespace="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" schemaLocation="eMISRequestResponse.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISdeploymentRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISdeploymentResponse" type="emisrr:eMISdeploymentResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISdisabilitiesRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISdisabilitiesResponse" type="emisrr:eMISdisabilitiesResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISguardReserveServicePeriodsRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISguardReserveServicePeriodsResponse" type="emisrr:eMISguardReserveServicePeriodsResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISmilitaryOccupationRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISmilitaryOccupationResponse" type="emisrr:eMISmilitaryOccupationResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISmilitaryServiceEligibilityRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISmilitaryServiceEligibilityResponse" type="emisrr:eMISmilitaryServiceEligibilityResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISretirementRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISretirementResponse" type="emisrr:eMISretirementResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISserviceEpisodeRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISserviceEpisodeResponse" type="emisrr:eMISserviceEpisodeResponseType"/>

	<xsd:element ibmSchExtn:docRoot="true" name="eMISunitInformationRequest" type="emisrr:inputEdiPiOrIcn"/>
	<xsd:element ibmSchExtn:docRoot="true" name="eMISunitInformationResponse" type="emisrr:eMISunitInformationResponseType"/>
</xsd:schema>
