emis-artifacts/src/main/resources/META-INF/wsdl/v1/eMISRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File eMISRequestResponse.xsd, application eMISVeteranStatusService--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:cdics="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:emis="http://viers.va.gov/cdi/eMIS/common/v1" xmlns:emiscs="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:emisrr="http://viers.va.gov/cdi/eMIS/RequestResponse/v1">
  <xs:import namespace="http://viers.va.gov/cdi/CDI/commonService/v1" schemaLocation="CDICommonService.xsd"/>
  <xs:import namespace="http://viers.va.gov/cdi/eMIS/commonService/v1" schemaLocation="eMISCommonService.xsd"/>
  <xs:complexType name="inputEdiPiOrIcn">
    <xs:sequence>
      <xs:element name="edipiORicn" type="emiscs:InputEdipiIcn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputEdiPi">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMIScombatPayResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="combatPay" type="emiscs:CombatPay"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISdecorationsMilitaryAwardResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="DecorationsMilitaryAward" type="emiscs:Decoration_MilitaryAward"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISdeploymentResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="deployment" type="emiscs:Deployment"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISDD214ResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="DD214" type="emiscs:DD214"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISdisabilitiesResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="disabilities" type="emiscs:Disability"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISguardReserveServicePeriodsResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="guardReserveServicePeriods" type="emiscs:GuardReserveServicePeriods"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISmilitaryOccupationResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="militaryOccupation" type="emiscs:MilitaryOccupation"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISmilitaryServiceEligibilityResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="militaryServiceEligibility" type="emiscs:MilitaryServiceEligibility"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISreserveDrillDaysResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="reserveDrillDays" type="emiscs:ReserveDrillDays"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISretirementResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="retirement" type="emiscs:Retirement"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISretirementPayResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="retirementPay" type="emiscs:RetirementPay"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISserviceEpisodeResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="militaryServiceEpisode" type="emiscs:MilitaryServiceEpisode"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISseparationPayResponseType">
    <xs:sequence>
      <xs:element maxOccurs="5000" minOccurs="0" name="separationPay" type="emiscs:SeparationPay"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISunitInformationResponseType">
    <xs:sequence>
      <xs:element maxOccurs="500" minOccurs="0" name="unitInformation" type="emiscs:UnitInformation"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMISveteranStatusResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="veteranStatus" type="emiscs:VeteranStatus"/>
      <xs:element minOccurs="0" ref="emisrr:ESSError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ESSError" type="cdics:ESSErrorType"/>
  <xs:element name="SOAPError" type="cdics:SOAPErrorType"/>
</xs:schema>
