emis-artifacts/src/main/resources/META-INF/wsdl/v1/eMISCommonService.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File eMISCommonService.xsd, application eMISVeteranStatusService--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:emiscs="http://viers.va.gov/cdi/eMIS/commonService/v1">
  <xs:complexType name="AwardsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="awardCode" type="xs:string"/>
      <xs:element minOccurs="0" name="awardDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="awardDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Awards">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element name="awards" type="emiscs:AwardsData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CombatPayData">
    <xs:sequence>
      <xs:element name="combatPaySegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="combatPayBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="combatPayEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="combatPayTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="combatZoneCountryCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CombatPay">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="combatPayData" type="emiscs:CombatPayData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Decoration_MilitaryAward">
    <xs:annotation>
      <xs:documentation>Awards is defined seperately now</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element name="awardDescription" type="xs:string"/>
      <xs:element name="awardDate" type="xs:date"/>
      <xs:element name="awardFromDate" type="xs:date"/>
      <xs:element name="awardToDate" type="xs:date"/>
      <xs:element name="branchOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DentalIndicatorData">
    <xs:sequence>
      <xs:element name="dentalIndicatorSeperationDate" type="xs:date"/>
      <xs:element name="dentalIndicator" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeploymentEligibilityData">
    <xs:annotation>
      <xs:documentation>This is used for getMilitaryServiceEligibilityInfo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deploymentSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentProjectCode" type="xs:string"/>
      <xs:element maxOccurs="5000" minOccurs="0" name="DeploymentLocation" type="emiscs:DeploymentLocationEligibilityData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeploymentData">
    <xs:sequence>
      <xs:element name="deploymentSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentProjectCode" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentTerminationReason" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentTransactionDate" type="xs:date"/>
      <xs:element maxOccurs="5000" minOccurs="0" name="DeploymentLocation" type="emiscs:DeploymentLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Deployment">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="deploymentData" type="emiscs:DeploymentData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeploymentLocationEligibilityData">
    <xs:annotation>
      <xs:documentation>This is used for getMilitaryServiceEligibilityInfo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deploymentLocationSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentCountryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentISOA3CountryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentLocationMajorBodyOfWaterCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeploymentLocation">
    <xs:sequence>
      <xs:element name="deploymentLocationSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentCountry" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentISOAlpha3Country" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentLocationMajorBodyOfWaterCode" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentLocationBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentLocationEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="deploymentLocationTerminationReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="deploymentLocationTransactionDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DD214">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="department" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="componentCode" type="xs:string"/>
      <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="gradeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="rateCode" type="xs:string"/>
      <xs:element minOccurs="0" name="rankCode" type="xs:string"/>
      <xs:element minOccurs="0" name="payGrade" type="xs:string"/>
      <xs:element name="dateOfBirth" type="xs:date"/>
      <xs:element minOccurs="0" name="reserveObligationTerminationDate" type="xs:date"/>
      <xs:element minOccurs="0" name="activeDutyPlaceOfEntry" type="xs:string"/>
      <xs:element minOccurs="0" name="timeOfEntryHomeOfRecord" type="xs:string"/>
      <xs:element minOccurs="0" name="lastDutyAssignmentAndMajorCommand" type="xs:string"/>
      <xs:element minOccurs="0" name="stationWhereSeparated" type="xs:string"/>
      <xs:element minOccurs="0" name="commandTransferredTo" type="xs:string"/>
      <xs:element minOccurs="0" name="sgliCoverageAmount" type="xs:string"/>
      <xs:element minOccurs="0" name="primarySpecialtyNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="primarySpecialtyTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="yearsMonthsInSpecialty" type="xs:string"/>
      <xs:element minOccurs="0" name="dateEnteredActiveDuty" type="xs:string"/>
      <xs:element minOccurs="0" name="dateSeparatedActiveDuty" type="xs:string"/>
      <xs:element minOccurs="0" name="netActiveService" type="xs:string"/>
      <xs:element minOccurs="0" name="totalPriorActiveService" type="xs:string"/>
      <xs:element minOccurs="0" name="totalPriorInactiveService" type="xs:string"/>
      <xs:element minOccurs="0" name="foreignServiceInd" type="xs:string"/>
      <xs:element minOccurs="0" name="seaServiceInd" type="xs:string"/>
      <xs:element minOccurs="0" name="initialEntryTraining" type="xs:string"/>
      <xs:element minOccurs="0" name="payGradeEffectiveDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="decorationCitationMedalorOtherAwardName" type="xs:string"/>
      <xs:element minOccurs="0" name="militaryEducationCourseTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="militaryEducationDuration" type="xs:string"/>
      <xs:element minOccurs="0" name="militaryEducationYearCompleted" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceAcademyCommissionedIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="commissionedThroughROTCScholarshipIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="enlistedUnderLoanRepaymentProgramIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="daysAccruedLeavePaid" type="xs:string"/>
      <xs:element minOccurs="0" name="requiredDentalServicesProvidedIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="remarks" type="xs:string"/>
      <xs:element minOccurs="0" name="postSeparationMailingAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="memberNearestRelativeName" type="xs:string"/>
      <xs:element minOccurs="0" name="memberNearestRelativeAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="copy6ToBeSentVAindicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="copy3CentralVAOfficeSendRequestIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="memberSignature" type="xs:string"/>
      <xs:element minOccurs="0" name="memberSignatureDate" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedSigningOfficialName" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedSigningOfficialGrade" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedSigningOfficialTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedSigningOfficialSignature" type="xs:string"/>
      <xs:element name="authorizedSignedDate" type="xs:date"/>
      <xs:element minOccurs="0" name="separationType" type="xs:string"/>
      <xs:element minOccurs="0" name="characterOfService" type="xs:string"/>
      <xs:element minOccurs="0" name="separationAuthority" type="xs:string"/>
      <xs:element minOccurs="0" name="reentryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="narrativeSeparationReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="separationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="timeLostDatesThisPeriod" type="xs:string"/>
      <xs:element minOccurs="0" name="memberRequestsCopy4Indicator" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Disability">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element minOccurs="0" name="incurredDate" type="xs:date"/>
      <xs:element minOccurs="0" name="ratingCode" type="xs:string"/>
      <xs:element minOccurs="0" name="disabilityPercent">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:maxInclusive value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="permanentTemporaryIndicator">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PERM"/>
            <xs:enumeration value="TEMP"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="payAmount" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuardReserveServicePeriodsEligibilityData">
    <xs:annotation>
      <xs:documentation>This is used for getMilitaryServiceEligibilityInfo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="guardReserveSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="guardReservePeriodEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="guardReservePeriodCharacterOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="narrativeReasonForSeparationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodStatuteCode" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodProjectCode" type="xs:string"/>
      <xs:element minOccurs="0" name="trainingIndicatorCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuardReserveServicePeriodsData">
    <xs:sequence>
      <xs:element name="guardReserveSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="guardReservePeriodEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="guardReservePeriodTerminationReason" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodCharacterOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="narrativeReasonForSeparationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodStatuteCode" type="xs:string"/>
      <xs:element minOccurs="0" name="guardReservePeriodProjectCode" type="xs:string"/>
      <xs:element minOccurs="0" name="post911GIBilLossCategoryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="trainingIndicatorCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuardReserveServicePeriods">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="guardReserveServicePeriodsData" type="emiscs:GuardReserveServicePeriodsData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryOccupationData">
    <xs:sequence>
      <xs:element name="occupationSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="dodOccupationType" type="xs:string"/>
      <xs:element minOccurs="0" name="occupationType" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceSpecificOccupationType" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceSpecificOccupationTypeText" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceOccupationDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryOccupation">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="militaryOccupationData" type="emiscs:MilitaryOccupationData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryServiceEpisodeEligibilityData">
    <xs:annotation>
      <xs:documentation>This is used for getMilitaryServiceEligibilityInfo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="emiscs:keyData"/>
      <xs:element minOccurs="0" name="serviceEpisodeStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="serviceEpisodeEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="branchOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dischargeCharacterOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="honorableDischargeForVaPurposeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="narrativeReasonForSeparationCode" type="xs:string"/>
      <xs:element maxOccurs="500" minOccurs="0" name="guardReserveActiveDuty" type="emiscs:GuardReserveServicePeriodsEligibilityData"/>
      <xs:element maxOccurs="500" minOccurs="0" name="deployments" type="emiscs:DeploymentEligibilityData"/>
      <xs:element maxOccurs="500" minOccurs="0" name="combatPay" type="emiscs:CombatPayData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryServiceEpisodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceEpisodeStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="serviceEpisodeEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="serviceEpisodeTerminationReason" type="xs:string"/>
      <xs:element minOccurs="0" name="branchOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="personnelProjectedEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="personnelProjectedEndDateCertaintyCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dischargeCharacterOfServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="honorableDischargeForVaPurposeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="personnelStatusChangeTransactionTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="narrativeReasonForSeparationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="post911GIBillLossCategoryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="mgadLossCategoryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="srLossTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="payPlanCode" type="xs:string"/>
      <xs:element minOccurs="0" name="payGradeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="serviceRankNameCode" type="xs:string"/>
      <xs:element minOccurs="0" name="payGradeDate" type="xs:date"/>
      <xs:element minOccurs="0" name="activeDutyServiceAgreementQuantity" type="xs:integer"/>
      <xs:element minOccurs="0" name="initialEntryTrainingEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="uniformServiceInitialEntryDate" type="xs:date"/>
      <xs:element minOccurs="0" name="militaryAccessionSourceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="personnelBeginDateSource" type="xs:string"/>
      <xs:element minOccurs="0" name="personnelTerminationDateSourceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="activeFederalMilitaryServiceBaseDate" type="xs:date"/>
      <xs:element minOccurs="0" name="mgsrServiceAgreementDurationYearQuantityCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dodBeneficiaryTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="reserveUnderAge60Code" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryServiceEpisode">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="militaryServiceEpisodeData" type="emiscs:MilitaryServiceEpisodeData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilitaryServiceEligibility">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element name="veteranStatus" type="emiscs:VeteranStatus"/>
      <xs:element name="dentalIndicator" type="emiscs:DentalIndicatorData"/>
      <xs:element maxOccurs="500" minOccurs="0" name="purpleHeartOrMoh" type="emiscs:PurpleHeartOrMohData"/>
      <xs:element maxOccurs="500" minOccurs="0" name="militaryServiceEpisodes" type="emiscs:MilitaryServiceEpisodeEligibilityData"/>
      <xs:element maxOccurs="500" minOccurs="0" name="awards" type="emiscs:AwardsData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PurpleHeartOrMohData">
    <xs:annotation>
      <xs:documentation>Purple Heart / Medal of Honor</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="purpleHeartOrMohCode" type="xs:string"/>
      <xs:element name="purpleHeartOrMohDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReserveComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="reserveComponentBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="reserveComponentName" type="xs:string"/>
      <xs:element minOccurs="0" name="reserveComponentEndDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetirementData">
    <xs:sequence>
      <xs:element minOccurs="0" name="retirementTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementServiceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="retirementTermDate" type="xs:date"/>
      <xs:element minOccurs="0" name="retirementTerminationReasonCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Retirement">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="retirementData" type="emiscs:RetirementData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeparationPayData">
    <xs:sequence>
      <xs:element name="separationPaySegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="separationPayType" type="xs:string"/>
      <xs:element minOccurs="0" name="separationPaymentGrossAmount" type="xs:string"/>
      <xs:element minOccurs="0" name="separationPaymentNetAmount" type="xs:string"/>
      <xs:element minOccurs="0" name="separationPaymentBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="separationPaymentEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="separationPaymentTerminationReason" type="xs:string"/>
      <xs:element minOccurs="0" name="disabilitySeverancePayCombatCode" type="xs:string"/>
      <xs:element minOccurs="0" name="federalIncomeTaxAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="separationPayStatusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="separationPayRecoupGrossAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="separationPayRecoupmentBalance" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeparationPay">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="separationPayData" type="emiscs:SeparationPayData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReserveDrillDaysData">
    <xs:sequence>
      <xs:element name="reserveDrillSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="reserveActiveDutyMonthlyCurrentPaidDays" type="xs:int"/>
      <xs:element minOccurs="0" name="reserveDrillMonthlyCurrentPaidDays" type="xs:int"/>
      <xs:element minOccurs="0" name="reserveDrillCurrentMonthlyPaidDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReserveDrillDays">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="reserveDrillDaysData" type="emiscs:ReserveDrillDaysData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetirementPayData">
    <xs:sequence>
      <xs:element name="retirementPaySegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementPaymentMonthlyGrossAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="retirementPayBeginDate" type="xs:date"/>
      <xs:element minOccurs="0" name="retirementPayEndDate" type="xs:date"/>
      <xs:element minOccurs="0" name="retirementPayTerminationReason" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementPayStopPaymentReason" type="xs:string"/>
      <xs:element minOccurs="0" name="dodDisabilityPercentageCode" type="xs:string"/>
      <xs:element minOccurs="0" name="retirementPaymentStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="chapter61ServiceGrossPayAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="chapter61EffectiveDate" type="xs:date"/>
      <xs:element minOccurs="0" name="retirementDateDifferencCode" type="xs:string"/>
      <xs:element minOccurs="0" name="survivorBenefitPlanPremiumMonthlyCostAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="directRemitterSurvivorBenefitPlanAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="directRemitterSurvivorBenefitPlanEffectiveDate" type="xs:date"/>
      <xs:element minOccurs="0" name="projectedSurvivorBenefitPlanAnnuityAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="survivorBenefitPlanBeneficiaryTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="originalRetirementPayDate" type="xs:date"/>
      <xs:element minOccurs="0" name="functionalAccountNumberCode" type="xs:string"/>
      <xs:element minOccurs="0" name="crdpCrscIndicatorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="crdpCrscStartDate" type="xs:date"/>
      <xs:element minOccurs="0" name="crdpCrscMonthlyAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="crdpCrscFpiAmount" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetirementPay">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="retirementPayData" type="emiscs:RetirementPayData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitInformationData">
    <xs:annotation>
      <xs:documentation>Same as Military Unit or Veteran Unit</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="unitSegmentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="unitIdentificationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="unitUicTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="unitAssignedDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitInformation">
    <xs:annotation>
      <xs:documentation>Same as Military Unit or Veteran Unit</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element ref="emiscs:keyData"/>
      <xs:element name="unitInformation" type="emiscs:UnitInformationData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VeteranStatus">
    <xs:sequence>
      <xs:element ref="emiscs:edipi"/>
      <xs:element minOccurs="0" name="title38StatusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="post911DeploymentIndicator" type="xs:string"/>
      <xs:element minOccurs="0" name="post911CombatIndicator" type="xs:string"/>
      <xs:element minOccurs="0" name="pre911DeploymentIndicator" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="keyData" type="emiscs:KeyData"/>
  <xs:complexType name="KeyData">
    <xs:sequence>
      <xs:element name="personnelOrganizationCode" type="xs:string"/>
      <xs:element name="personnelCategoryTypeCode" type="xs:string"/>
      <xs:element name="personnelSegmentIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputEdipiIcn">
    <xs:sequence>
      <xs:element name="edipiORicnValue" type="xs:string"/>
      <xs:element name="inputType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="EDIPI"/>
            <xs:enumeration value="ICN"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="edipi" type="xs:string"/>
</xs:schema>
